@{
}

<div class="modal fade" id="miModalId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="text-white-50">Punto obtenido</a>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button id="ModalCloseButton">Cerrar</button>
            </div>
        </div>
    </div>
</div>  